/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.heading, main {
    border: 1px solid red;
    height: 100vh;
}


.heading {
    background-image: url(background-img.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.heading {
    width: 60%;
    /* margin-right:; */
}

main {
    background-color: rgb(249, 250, 251);
    display: flex;
    flex-direction: column;
    /* padding-left: 45px; */
    justify-content: center;
}

main > section, form > h2 {
    font-size: 25px;
    font-weight: 600;
}

main form {
    background-color: #fff;
    margin: 40px 0;
    padding-left: 45px;
}

main > section:first-child p:first-of-type{
    margin-bottom: 20px;
    margin-right: 17%;
    line-height: 1.3;
}

main > section {
    padding-left: 45px;
}

form > section {
    display: flex;
    gap: 80px;
    margin: 20px 0;
}

form > section > p {
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

form label {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

input:focus {
    border: 1px solid lightblue;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

input:invalid {
    border: 1px solid red;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}